<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Add Internet Permission for Firebase connectivity -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--  add permissions required for QR scanner  -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!--Location permissions-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rocketlaunch"
        tools:targetApi="31"
        tools:replace="android:allowBackup" >

        <!-- Specify android:exported attribute for each activity -->
        <activity
            android:name=".admin.AdminModeActivity"
            android:exported="false" />
        <activity
            android:name=".entrant_events_tab.ScannedEventDetailsFragment"
            android:exported="false" />
        <activity
            android:name=".nav_fragments.UserProfileFragment"
            android:exported="true" />
        <activity
            android:name=".nav_fragments.NotificationsFragment"
            android:exported="true" />
        <activity
            android:name=".nav_fragments.CreateEventFragment"
            android:windowSoftInputMode="adjustPan"
            android:exported="true" />
        <activity
            android:name=".nav_fragments.UserEventsFragment"
            android:exported="true" />
        <activity
            android:name=".entrant_events_tab.QRCodeScannerActivity"
            android:exported="true"/>
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>